@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.header-wrapper {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #f3f3f3 ;
  background-color: #ffffff;
  position: fixed;
  z-index: 5;
  width: 100%;
  top:0;
  justify-content: space-between;
}
.header-logo-container {
  display: flex;
  flex-direction: row;
  object-fit: contain;
}
.header-info-container {
  display: flex;
  flex-direction: row;
}
.header-info-container button{
  border: none;
  margin: 0 5px;
  padding: 0 10px;
  background-color: #ffffff;
  cursor: pointer;
}
.header-info-container button:hover {
  background-color: #fafafa;
}
.header-info-container button:focus {
  outline: none;
}
.header-login-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-logo {
  height:60px;
  width: 60px;
  object-fit: contain;
}
.header-title{
  font-family: 'Dancing Script', cursive;
  line-height: 60px;
  background: -webkit-linear-gradient(rgb(250, 211, 139), rgb(252, 60, 2));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
