@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.header-wrapper {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #f3f3f3 ;
  background-color: #ffffff;
  position: fixed;
  z-index: 5;
  width: 100%;
  top:0;
}
.header-logo-container {
  display: flex;
  flex-direction: row;
}
.header-info-container {
  display: flex;
  flex-direction: column;
  margin-left: 75%;
}
.header-logo {
  height:60px;
  width: 60px;
  object-fit: contain;
}
.header-title{
  font-family: 'Dancing Script', cursive;
  line-height: 60px;
  background: -webkit-linear-gradient(rgb(250, 211, 139), rgb(252, 60, 2));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}