@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.header-wrapper {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #f3f3f3 ;
}
.header-logo {
  height:75px;
  width: 75px;
  object-fit: contain;
}
.header-title{
  font-family: 'Dancing Script', cursive;
  line-height: 75px;
  background: -webkit-linear-gradient(rgb(250, 211, 139), rgb(252, 60, 2));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}